@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Shippori Mincho", serif;
  background-color: black;
  padding: 20px;
}
.illustrations {
  display: flex;
  height: calc(45vh - 20px);
  width: 100vw;
  justify-content: space-around;
}
.illustrations > img {
  width: 40vw;
}
.informations {
  display: flex;
  justify-content: space-around;
  color: white;
  flex-wrap: nowrap;
  margin-top: 30px;
  margin: 0 10px;
}
.card {
  margin: 10px;
  padding: 20px;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border-radius: 10px;
}
.card > p {
  margin-top: 10px;
  color: #ffffff8c;
  text-overflow: ellipsis;
  position: relative;
  max-height: 100%;
}
.card:hover {
  background-color: #2b2b37;
  /* transform: scale3d(1.1, 1.1, 1.1); */
  transform: scale(1.1);
}
.card:hover > p {
  color: rgb(209, 209, 209);
}

@media only screen and (max-width: 768px) {
  .illustrations {
    flex-wrap: wrap;
    height: 100vh;
    width: calc(100vw - 40px);
    justify-content: center;
  }
  .illustrations > img {
    height: calc(50vh - 30px);
    margin: 10px;
    width: 100%;
  }
  .informations {
    flex-wrap: wrap;
    height: auto;
    width: auto;
    justify-content: center;
  }
  .card {
    margin: 10px;
    padding: 20px;
    width: 100vw;
  }
}
